@charset "UTF-8";
/*DON'T FORGET TO:
      - SET element, parent and all children position's to relative
      - SET BG color or image
      - SET opacity */
@-webkit-keyframes scale-from-nowhere {
  from {
    transform: scale(0);
  }
  to {
    transform: scale 1;
  }
}
@keyframes scale-from-nowhere {
  from {
    transform: scale(0);
  }
  to {
    transform: scale 1;
  }
}
@-webkit-keyframes rotate-outline {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-outline {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*STOP rotate element's childrens*/
@-webkit-keyframes stop-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes stop-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes slide-left {
  from {
    right: -1500px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-left {
  from {
    right: -1500px;
  }
  to {
    right: 0px;
  }
}
@-webkit-keyframes roll-into {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes roll-into {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes get-from-fog {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes get-from-fog {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

.strong {
  font-weight: bold;
}

.hero {
  background-image: url("../images/header_background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 9.375em;
  height: 100vh;
}
.hero nav {
  width: 100%;
  height: 5em;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero nav .navbar-logo a {
  color: #fff;
  font-size: 1.5625em;
  margin-left: 3.125em;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0.0444444444em 0.0444444444em 0.0222222222em #010101;
  position: fixed;
}
.hero nav .navbar-menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 3.125em;
}
.hero nav .navbar-menu li {
  font-size: 1.0625em;
  width: 22%;
  height: 3.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero nav .navbar-menu li a {
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  display: block;
  width: 100%;
  line-height: 2.7777777778em;
  border: 0.1em solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.0625em;
  background-color: rgba(17, 17, 17, 0.3);
  box-shadow: 0.125em 0.125em 0.3125em #010101;
  transition-property: background-color, transform, box-shadow;
  transition-duration: 0.3s, 0.3s, 0.3s;
  border-radius: 0.5em;
}
.hero nav .navbar-menu li a:hover {
  background-color: rgba(17, 17, 17, 0.9);
  transform: scale(1.05) translate(4%, 8%);
  box-shadow: 0.25em 0.25em 0.625em #010101;
}
.hero .hero-items {
  width: 80%;
  height: 100%;
  padding-top: 6.25em;
  padding-bottom: 6.25em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125em;
}
.hero .hero-items .hero-headline {
  text-align: center;
  -webkit-animation-name: scale-from-nowhere;
          animation-name: scale-from-nowhere;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hero .hero-items .hero-headline h1, .hero .hero-items .hero-headline h2 {
  font-size: 4.375em;
  text-transform: uppercase;
  text-shadow: 0.0444444444em 0.0444444444em 0.0222222222em #010101;
  margin-bottom: 0.2222222222em;
}
.hero .hero-items .hero-headline h2 {
  font-size: 2.1875em;
  color: #FFAF00;
}
.hero .hero-items .hero-headline p {
  font-size: 2.1875em;
  text-shadow: 0.0444444444em 0.0444444444em 0.0222222222em #010101;
}

.section-about {
  padding: 3.125em 0 3.125em;
  color: #111;
  background-image: radial-gradient(circle, #ffffff, #e1e1e1, #c3c3c3, #a6a6a6, #8a8a8a, #767676, #626262, #4f4f4f, #3f3f3f, #2f2f2f, #202020, #111111);
  height: 56.25em;
}
.section-about i {
  display: block;
  font-size: 3.125em;
  margin: 0 auto 0.6em;
  text-align: center;
  color: #FFAF00;
  text-shadow: 0.0625em 0.0625em #010101;
}
.section-about h2 {
  font-size: 2.1875em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.7142857143em;
  color: #fff;
  text-shadow: 0.0625em 0.0625em #010101;
}
.section-about h3 {
  font-size: 1.5625em;
  text-transform: uppercase;
  margin-top: 1.2em;
  border-bottom: 2px solid #FFAF00;
  margin: 0 auto 0.75em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-about .about-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  position: relative;
  height: 100%;
}
.section-about .about-container .separate {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.section-about .about-container .middle, .section-about .about-container .right, .section-about .about-container .left {
  width: 33%;
  height: 70%;
  position: relative;
}
.section-about .about-container .middle .box-wrapper, .section-about .about-container .right .box-wrapper, .section-about .about-container .left .box-wrapper {
  font-size: 1.0625em;
  width: 90%;
  height: 100%;
  border-radius: 0.625em;
  color: #fff;
  padding: 1.25em;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.2;
  text-align: center;
  border-radius: 1.25em;
  box-shadow: 0.25em 0.25em 0.625em #010101;
}
.section-about .about-container .middle .box-wrapper::before, .section-about .about-container .right .box-wrapper::before, .section-about .about-container .left .box-wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  border-radius: 1.25em;
  box-shadow: 0.25em 0.25em 0.625em #010101;
}
.section-about .about-container .middle .box-wrapper > *, .section-about .about-container .right .box-wrapper > *, .section-about .about-container .left .box-wrapper > * {
  position: relative;
}
.section-about .about-container .middle .box-wrapper i, .section-about .about-container .right .box-wrapper i, .section-about .about-container .left .box-wrapper i {
  font-size: 1.875em;
  margin: 0 auto 0.3125em;
}
.section-about .about-container .middle .box-wrapper i.wave, .section-about .about-container .right .box-wrapper i.wave, .section-about .about-container .left .box-wrapper i.wave {
  transform: rotate(30deg);
}
.section-about .about-container .middle .box-wrapper h3, .section-about .about-container .right .box-wrapper h3, .section-about .about-container .left .box-wrapper h3 {
  text-transform: none;
}
.section-about .about-container .middle .box-wrapper a, .section-about .about-container .right .box-wrapper a, .section-about .about-container .left .box-wrapper a {
  text-decoration: none;
  color: #FFAF00;
}
.section-about .about-container .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-about .about-container .middle .img-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-about .about-container .middle img {
  display: block;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 0.625em #010101;
  -webkit-animation-name: scale-from-nowhere;
          animation-name: scale-from-nowhere;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section-study {
  padding: 3.125em 0 3.125em;
  color: #fff;
  background-color: #111;
  height: 100vh;
}
.section-study i {
  display: block;
  font-size: 3.125em;
  margin: 0 auto 0.6em;
  text-align: center;
  color: #FFAF00;
}
.section-study h2 {
  font-size: 2.1875em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.7142857143em;
}
.section-study .study-container {
  width: 80%;
  margin: 0 auto;
}
.section-study .study-container .study-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.75em;
  gap: 1.875em;
}
.section-study .study-container .study-part1 .study-left, .section-study .study-container .study-part1 .study-right {
  width: 50%;
}
.section-study .study-container .study-part1 .study-left .outline {
  margin: 0 auto;
  width: 21.875em;
  height: 21.875em;
  border: 2px solid #FFAF00;
  position: relative;
  -webkit-animation-name: rotate-outline;
          animation-name: rotate-outline;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.section-study .study-container .study-part1 .study-left .outline .img-wrapper {
  width: 65%;
  height: 65%;
  background-color: #FFAF00;
  overflow: hidden;
  -webkit-animation-name: stop-rotate;
          animation-name: stop-rotate;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.section-study .study-container .study-part1 .study-left .outline .img-wrapper img {
  width: 70%;
  overflow: hidden;
}
.section-study .study-container .study-part1 .study-left .outline .outline-logo {
  width: 3.125em;
  height: 3.125em;
  background-color: #fff;
  position: absolute;
  text-decoration: none;
  -webkit-animation-name: stop-rotate;
          animation-name: stop-rotate;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #fff;
}
.section-study .study-container .study-part1 .study-left .outline .outline-logo img {
  width: 60%;
}
.section-study .study-container .study-part1 .study-left .outline .outline-logo:hover {
  width: 4.375em;
  height: 4.375em;
}
.section-study .study-container .study-part1 .study-left .outline .logo-1 {
  left: center;
  top: -1.5625em;
}
.section-study .study-container .study-part1 .study-left .outline .logo-2 {
  right: 1.5625em;
  top: 1.5625em;
}
.section-study .study-container .study-part1 .study-left .outline .logo-3 {
  right: -1.5625em;
  top: center;
}
.section-study .study-container .study-part1 .study-left .outline .logo-4 {
  right: 1.5625em;
  bottom: 1.5625em;
}
.section-study .study-container .study-part1 .study-left .outline .logo-5 {
  right: center;
  bottom: -1.5625em;
}
.section-study .study-container .study-part1 .study-left .outline .logo-6 {
  left: 1.5625em;
  bottom: 1.5625em;
}
.section-study .study-container .study-part1 .study-left .outline .logo-7 {
  left: -1.5625em;
  bottom: center;
}
.section-study .study-container .study-part1 .study-left .outline .logo-8 {
  left: 1.5625em;
  top: 1.5625em;
}
.section-study .study-container .study-part1 .study-right h3 {
  font-size: 1.5625em;
  text-transform: uppercase;
  margin-top: 1.2em;
  border-bottom: 2px solid #FFAF00;
  margin: 0 auto 0.75em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-study .study-container .study-part1 .study-right h3:last-of-type {
  margin-top: 1.5em;
}
.section-study .study-container .study-part1 .study-right a {
  text-decoration: none;
  color: #FFAF00;
  text-transform: uppercase;
}
.section-study .study-container .study-part1 .study-right ul {
  margin-top: 0.5em;
  padding-left: 3.75em;
}
.section-study .study-container .study-part1 .study-right ul li::before {
  content: "•";
  font-size: 1.5625em;
  color: #FFAF00;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.section-study2 {
  padding: 3.125em 0 3.125em;
  color: #fff;
  background-color: #2b2b2b;
  background-image: url("../images/ecommerce_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-study2::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  background-color: #000;
}
.section-study2 .study-container {
  width: 80%;
  margin: 0 auto;
  z-index: 10;
}
.section-study2 h2 {
  font-size: 2.1875em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.7142857143em;
  -webkit-animation-name: get-from-fog;
          animation-name: get-from-fog;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.section-study2 .h2-icon {
  display: block;
  margin: 1.875em auto 1.25em;
  -webkit-animation-name: get-from-fog;
          animation-name: get-from-fog;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.section-study2 h3 {
  font-size: 1.5625em;
  text-transform: uppercase;
  margin-top: 1.2em;
  border-bottom: 2px solid #FFAF00;
  margin: 0 auto 0.75em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5625em;
  -webkit-animation-name: get-from-fog;
          animation-name: get-from-fog;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.section-study2 .study-ecommerce {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.75em;
  height: 40vh;
  gap: 1.875em;
}
.section-study2 .study-ecommerce .ecommerce-left, .section-study2 .study-ecommerce .ecommerce-right {
  width: 35%;
}
.section-study2 .study-ecommerce .ecommerce-left p {
  text-align: center;
  margin-right: 10px;
  -webkit-animation-name: get-from-fog;
          animation-name: get-from-fog;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.section-study2 .study-ecommerce .ecommerce-right img {
  display: block;
  width: 70%;
  padding: 6px;
  border-radius: 50%;
  border: 5px solid #FFAF00;
  box-shadow: 0.375em 0.375em 0.9375em #010101;
  transition-property: width;
  transition-duration: 1s;
  position: relative;
  right: -1500px;
  -webkit-animation-name: slide-left, roll-into;
          animation-name: slide-left, roll-into;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.section-study2 .study-ecommerce .ecommerce-right img:hover {
  width: 80%;
}
.section-study2 .study-marketing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.75em;
  height: 40vh;
  gap: 1.875em;
}
.section-study2 .study-marketing .marketing-left, .section-study2 .study-marketing .marketing-right {
  width: 35%;
  -webkit-animation-name: get-from-fog;
          animation-name: get-from-fog;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.section-study2 .study-marketing .marketing-left img {
  width: 60%;
}/*# sourceMappingURL=style.css.map */