@keyframes scale-from-nowhere {
    from {
        transform: scale(0)
    }
    to {
        transform: scale (1)
    }
}

@keyframes scale-from-base {
    from {
        transform: scale(1);
    }
    to {
        transform: scale (1.5);
    }
}


@keyframes rotate-outline {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

/*STOP rotate element's childrens*/
@keyframes stop-rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

@keyframes slide-left {
    from {
        right: -1500px
    }
    to {
        right: 0px;
    }
}

@keyframes roll-into {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(720deg)
    }
}

@keyframes get-from-fog {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate-shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate-hand {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(15deg)
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blinker {
    to {
        background: $primary-color;
    }
}

@keyframes blinker-away {
    to {
        width: 0em;
    }
}