// GENERAL
@mixin border-helper($colour: red) {
    border: 2px solid $colour;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin li-clickable ($line-height){
    display: block;
    width: 100%;
    line-height: $line-height;
}

@mixin rounded($radius: em(10,20)) {
    border-radius: $radius;
}

@mixin btn-default {
    border: em(2,20) solid $primary-color;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: em(1);
    background-color: transparentize($ternary-color, .7);
    box-shadow: em(2) em(2) em(5) $shadow-color;
    transition-property: background-color, transform, box-shadow;
    transition-duration: 0.3s, 0.3s, 0.3s;
    @include rounded;

    &:hover {
        background-color: transparentize($ternary-color, .1);
        transform: scale(1.05) translate(4%, 8%);
        box-shadow: em(4) em(4) em(10) $shadow-color;
    }
}

@mixin background-fog {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

} /*DON'T FORGET TO:
        - SET element, parent and all children position's to relative
        - SET BG color or image
        - SET opacity */
        


// ANIMATIONS
@mixin infinity-rotate {
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@mixin roll-and-slide {
    animation-name: slide-left, roll-into;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@mixin get-from-fog {
    animation-name: get-from-fog;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@mixin scale-from-nowhere {
    animation-name: scale-from-nowhere;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@mixin rotate-shake {
    animation-name: rotate-shake;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

@mixin rotate-hand {
    animation-name: rotate-hand;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 20;
}


// SECTIONS
@mixin section-container {
    width: 80%;
    margin: 0 auto;
}

@mixin h2-sections {
    font-size: $h2-size;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: em(60,35);
}

@mixin h2-section-icons {
    display: block;
    font-size: em(50); //SET
    margin: 0 auto em(30,50);
    text-align: center;
    color: $secondary-color;
}

@mixin h3-sections {
    font: {
        size: $h3-size;
    }
    text-transform: uppercase;
    border-bottom: 2px solid $secondary-color;
    margin: 0 auto em(8);
    width: fit-content;
}

@mixin p-sections {
    font: {
        size: $p-size;
    }
}
