@import "./partials/functions";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/animations";


*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $primary-color;
    overflow-x: hidden;
    font: {
        family: $primary-font;
    }
}

strong {
    color: $secondary-color;
}

p {
    @include p-sections;
    line-height: 1.3;
}

a {
    color: $secondary-color;
}



// ================== HEADER ================ // 
.hero {
    background: {
        image: url('../images/header_background2.jpg');
        repeat: no-repeat;
        size: cover;
    }
    padding-top: em(150);
    min-height: em(600);
    height: 100vh;

    nav { 
        width: 100%;
        height: em(80);
        position: fixed;
        left: 0;
        top: 0;
        padding: em(20) 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent; //materialize.min.css rewritten
        box-shadow: none; //materialize.min.css rewriten
        z-index: 10;
        transition: all 0.5s;
        &.scrolled {
            background-color: #000;
        }

        .navbar-menu {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin-right: em(50);

            li {
                font-size: $p-size; 
                width: 22%;
                @include flex-center;
                text-align: center;

                a {
                    padding: em(13) 0;
                    @include li-clickable(100%);
                    @include btn-default;                
                }
            }
        }
     }
    
    .hero-items {
        width: 80%;
        height: 100%;
        padding-top: em(100);
        padding-bottom: em(100);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: em(50);

        .hero-headline {
            text-align: center;
            opacity: 0;

            h1 {
                font-size: $h1-size;
                text-transform: uppercase;
                text-shadow: $shadow-text;
                margin-bottom: em(20, 90);
            }

            h2 {
                @extend h1;
                font-size: $h2-size;
                color: $secondary-color;
            }

            p {
                font-size: em(35); 
                text-shadow: $shadow-text;
            }
        }
    } 
}



// ========= SECTION ABOUT ========== //
.section-about {
    padding: em(100) 0 em(50);
    color: $ternary-color;
    background-image: radial-gradient(circle, #ffffff, #e1e1e1, #c3c3c3, #a6a6a6, #8a8a8a, #767676, #626262, #4f4f4f, #3f3f3f, #2f2f2f, #202020, #111111);
    background-image: linear-gradient(to bottom, #3d3e40, #323234, #272728, #1c1c1d, #111111);
    height: em(900,16);

    i {
        @include h2-section-icons;
        text-shadow: em(1) em(1) $shadow-color;
    }

    h2 {
        @include h2-sections;
        color: $primary-color;
        text-shadow: em(1) em(1) $shadow-color;
    }

    h3 {
        @include h3-sections;
    }

    .about-container {
        width: 90%;
        margin: 0 auto;
        @include flex-center;
        justify-content: space-between;
        gap: 5%;
        position: relative;
        height: 100%;

        .separate {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -30%)
        }

        .middle, .right, .left {
            width: 33%;
            height: 70%;
            position: relative;

            .box-wrapper {
                width: 90%;
                height: 100%;
                border-radius: em(10);
                color: $primary-color;
                padding: em(20);
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: center;
                @include rounded(em(20));
                box-shadow: em(4) em(4) em(10) $shadow-color;
                font-size: em(16,16);
                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.8;
                    @include rounded(em(20));
                    box-shadow: em(4) em(4) em(10) $shadow-color;
                    
                }
                & > * {
                    position: relative;
                }

                i {
                    font-size: em(30);
                    margin: em(5) auto em(3);
                }

                h3 {
                    text-transform: none;
                }

                p {
                    text-align: center;
                }
            }
        }

       

        .middle {
            @include flex-center;
            .img-wrapper {
                width: 100%;
                margin: 0 auto;
                @include flex-center;
            }

            img {
                display: block;
                width: 0%;
                border-radius: 50%;
                box-shadow: em(4) em(4) em(10) $shadow-color;
                // @include scale-from-nowhere; <untimed animation>
            }
        }

    }
}



// ========= SECTION STUDY ========== //
.section-study {
    padding-top: em(50);
    padding-bottom: em(50);

    color: $primary-color;
    background-color: $ternary-color;

    i {
        @include h2-section-icons;
        text-shadow: em(1) em(1) #000;
    }
    
    h2 {
        @include h2-sections;
        text-shadow: em(1) em(1) #000;
    }

    

    .study-container {
        width: 90%;
        margin: 0 auto;
        @include flex-center;
        gap: em(30);
        .study-left, .study-right {
            margin: 0 auto;
            width: 50%;
        }

        .study-left {
            transform: scale(1.2);
            .outline {
                margin: 0 auto;
                width: em(350); //don't change width or height! Set scale!
                height: em(350);
                border: 2px solid $secondary-color;
                position: relative;
                animation-name: rotate-outline;
                @include rounded(50%);
                @include flex-center;
                @include infinity-rotate;

                .img-wrapper {
                    width: 65%;
                    height: 65%;
                    background-color: transparent;
                    border: 2px solid $secondary-color;
                    overflow: hidden;
                    animation-name: stop-rotate;
                    @include rounded(50%);
                    @include flex-center;
                    @include infinity-rotate;
                    
                    img {
                        width: 70%;
                        overflow: hidden;
                    }
                }

                .outline-logo {
                    width: em(50);
                    height: em(50);
                    background-color: #fff;
                    position: absolute;
                    text-decoration: none;
                    animation-name: stop-rotate;
                    @include flex-center;
                    @include rounded(50%);
                    @include infinity-rotate;
                    border: 1px solid $primary-color;
                    img {
                        width: 60%;
                    }
                }

                .logo-1 {
                    left: center;
                    top: em(-25);
                }

                .logo-2 {
                    right: em(25);
                    top: em(25);
                }

                .logo-3 {
                    right: em(-25);
                    top: center;
                }

                .logo-4 {
                    right: em(25);
                    bottom: em(25);
                }

                .logo-5 {
                    right: center;
                    bottom: em(-25);
                }

                .logo-6 {
                    left: em(25);
                    bottom: em(25);
                }

                .logo-7 {
                    left: em(-25);
                    bottom: center;
                }

                .logo-8 {
                    left: em(25);
                    top: em(25);
                }
            }
        }

        .study-right {
            h3 {
                @include h3-sections;

                &:last-of-type {
                    margin-top: em(24);
                }
                }
            p {
                padding-bottom: em(5);
                text-align: justify;
            }

            a {
                color: $secondary-color;
                text-decoration: underline;
            }

            ul {
                margin-top: em(8);
                padding-left: em(60);
                li {
                    &::before {
                        content: "\2022"; 
                        font-size: em(25);
                        color: $secondary-color;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1em}
                }
            }
        }
    }
}





// ========= SECTION COURSES ========== //
.section-courses {
    background-image: linear-gradient(to bottom, #111111, #101012, #0f0f13, #0e0e14, #0c0d15, #0c0b14, #0b0912, #0b0711, #0b050c, #090307, #050103, #000000);
    min-height: em(750);
    max-height: em(750);
    h2 {
        @include h2-sections;
        margin-bottom: 0;
        padding-top: em(20);
        text-shadow: em(1) em(1) #000;
    }
    
    .courses-container {
        width: 90%;
        margin: 0 auto;
        min-height: em(750);
        max-height: em(750);

        .carousel {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            min-height: em(900);
            transform: translateY(em(-250));
            .carousel-item {
                width: 20%;
                cursor: url('../images/svg_icons/hand-solid.svg'), grab;
                &:active {
                    cursor: url('../images/svg_icons/hand-back-fist-solid.svg'), grabbing;
                }
            
                .img-wrapper {
                    width: 80%;
                    border-radius: 50%;
                    border: 2px solid $primary-color;
                    margin: 0 auto;
                    overflow:hidden;
                    padding: em(4);
                    img {
                        display: block;
                        width: 100%;
                        border-radius: 50%;
                    }
                }
    
                .course-info {
                    text-align: center;
                    h3 {
                        color: $primary-color;
                        font-size: em(30);
                        font-weight: bold;
                        padding: em(10) em(5);
                        text-align: center;
                    }

                    .visit-btn {
                        background-color: #111;
                        border: 2px solid $primary-color;
                        width: 60%;
                        margin: em(10) auto em(10);
                        cursor: pointer;
                        font: {
                            size: em(20);
                            font-weight: bold;
                        }
                        transition: all 0.3s;
                        &:hover {
                            transform: scale(1.02);
                            background-color: lighten(#111, 10%)
                        }
                        a {
                            color: $primary-color;
                            text-decoration: none;
                            padding: em(5);
                            @include li-clickable(100%);
                        }
                    }
    
                    .logos {
                        display: flex;
                        justify-content: center;
                        gap: 2%;
                        img {
                            display: block;
                            width: em(50);
                            height: em(50);
                            &.mysql {
                                background-color: #fff;
                                padding: 0 em(5);
                            }
                        }
                    }
                }
            }
        }
    }
}





// ========= SECTION STUDY2 ========== //
.section-study2 {
    padding: em(50) 0 em(50);
    color: $primary-color;
    background-image: url('../images/ecommerce_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        @include background-fog;
        opacity: 0.9;
        background-color: #000;
    }
    & > * {
        position: relative;
    }

    .study-container {
        width: 90%;
        margin: 0 auto;
    }

    h2 {
        @include h2-sections;
        text-shadow: em(1.5) em(1.5) #000;
    }

    .h2-icon {
        display: block;
        margin: em(30) auto em(20);
    }

    h3 {
        @include h3-sections;
        font-size: $h3-size;
    }

    p {
        text-align: center;
    }

    .study-ecommerce {
        width: 100%;
        @include flex-center;
        margin-bottom: em(60);
        

        .ecommerce-left {
            width: 35%;
            p {
                width: 80%;
                margin: 0 auto;
            }
            a {
                text-decoration: underline;
            }
        }
        
        .ecommerce-right {
            width: 45%;
            .img-wrapper {
                img {
                    display: block;
                    height: em(400);
                    padding: 6px;
                    @include rounded(50%);
                    border: 5px solid $secondary-color;
                    box-shadow: em(6) em(6) em(15) $shadow-color;
                    position: relative;
                    right: -1500px;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }

    .study-marketing {
        @include flex-center;
        width: 100%;
        padding-bottom: em(60);
        max-height: em(400);

        .marketing-left {
            width: 45%;
            display: flex;
            justify-content: flex-end;
            img {
                display: block;
                height: em(300);
            }
        }

        .marketing-right {
            width: 35%;
            p {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}





// ========= SECTION MY-CODES ========== //
section.my-codes {
    padding: em(50) 0 em(50);
    background-color: #333;
    padding-top: em(50);
    background-image: linear-gradient(to bottom, #111111, #101012, #0f0f13, #0e0e14, #0c0d15, #0c0b14, #0b0912, #0b0711, #0b050c, #090307, #050103, #000000);

    h2 {
        @include h2-sections;
        text-shadow: em(1) em(1) #000;
    }

    i {
        @include h2-section-icons;
        text-shadow: em(1) em(1) #000;
    }

    .codes-container {
        width: 90%;
        margin: 0 auto;
        
        // MY OWN TYPEWRITTING ANIMATIONS
        .code-frame {
            width: 60%; //adjustable 60%
            margin: 0 auto; //center the frame
            height: 0; //adjustable em(600)
            border: 2px solid #24A7EB;
            @include rounded(em(15));
            padding: em(35);
            background: $ternary-color;
            font-family: monospace; //do not change
            transition: all 2s;
            opacity: 0;
            @include show-frame;
            display: none;
            
            span.colored { //not necessary
                color: #518DBF;
            }
            em.tag-frame { //not necessary
                color: #666666;
            }
            em.tag-class {
                color: #9ACFEC;
            }
            em.tag-class-value {
                color: #C78E7D;
                a {
                    color: inherit;
                }
            }

            p {
                word-break: keep-all;
                width: max-content;
                max-width: 100%;
                color: $primary-color;
                opacity: 0;
                @include change-opacity;
                font: {
                    size: em(25);
                    weight: bold;
                }
                position: relative;
                a {
                    color: $primary-color;
                }
            }

            p::before, p::after { // do not change
                content: '';
                color: $ternary-color;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }

            .line { //do not change
                --add: 1.5s;
                --start: 0s;
                --duration: 0s;
                --delay: 1.5s;
                --steps: 1;
                &::before {
                    background: $ternary-color;
                    animation: typewriter var(--duration) var(--delay) steps(var(--steps)) forwards;
                }
                &::after {
                    width: 0.125em;
                    background: transparent;
                    animation:
                        blinker 0.75s var(--start) 2 forwards,
                        typewriter var(--duration) var(--delay) steps(var(--steps)) forwards,
                        blinker-away 0.2s calc(var(--duration) + var(--start) + var(--add))  forwards;
                }
            }

            .last-line {
                --delay: 0s;
                width: 0.125em;
                color: $ternary-color;
                animation: blinker 0.75s var(--delay) 10;
            }
        }
    }
}





// ========= SECTION CONTACTS ========== //
section.contacts {
    background-color: #000;
    padding: em(50) 0 em(20);
    .contacts-container {
        width: 80%;
        margin: 0 auto;

        h2 {
            @include h2-sections;
            margin-bottom: em(35,35);
            text-shadow: em(1) em(1) #000;
        }

        i {
            @include h2-section-icons;
            margin-bottom: em(10,50);
            text-shadow: em(1) em(1) #000;
        }

        .container {
            width: em(200);
            text-align: center;
            min-height: em(200);
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
            display: flex;
            align-items: center;
            justify-content: center;
            .planet {
                margin: 0 em(20);
                width: em(200);
                position: absolute;
                cursor: pointer;
                
                .logo-wrapper {
                    width: em(150);
                    height: em(150);
                    margin: 0 auto;
                    text-align: center;
                    @include flex-center;
                    border-radius: 15%;
                    
                    img {
                        display: inline-block;
                        width: 100%;
                        border-radius: 15%;
                        background-image: linear-gradient(to right top, #333333, #282828, #1d1d1d, #121212, #000000);
                        cursor: pointer;
                        
                        
                    }
                } 

                a.contact-btn, p.contact-btn {
                    display: block;
                    margin: em(10) auto 0;
                    width: em(150,14);
                    padding: em(10) em(20);
                    border: 2px solid;
                    border-radius: em(10);
                    text-decoration: none;
                    font-size: em(14,16);
                    font-weight: bold;
                    transition: all 0.3s;
                    color: #01010F;
                    border-color: #000;
                    background-color: $primary-color;
                    &:hover {
                        color: $secondary-color;
                        border-color: $secondary-color;
                        background-color: $primary-color;
                    }
                }

                a.email {
                    display: block;
                    margin-top: em(15);
                    color: $primary-color;
                }

                a.invisible {
                    display: none;
                }

                
            }
        }

        small {
            display: block;
            width: max-content;
            margin: em(20) auto 0;
        }
    }
}





// ========= RESPONSIVITY ========== //
@media only screen and (max-width: 1700px) {
.section-about {
    height: em(800);
    .about-container {
        .left, .right {
            .box-wrapper {
                font-size: em(14,16)
            }
        }
    }
}

section.my-codes {
    .codes-container {
        .code-frame {
            width: 70%;
        }
    }
}
}


@media only screen and (max-width: 1500px) {
    .section-about {
        height: em(700);
        padding-bottom: 0;
        .about-container {
            .left, .right {
                .box-wrapper {
                    font-size: em(13,16);
                    p {
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    section.my-codes {
        .codes-container {
            .code-frame {
                width: 80%;
            }
        }
    }

    .section-study2 {
        .study-container {
            .study-ecommerce {
                .ecommerce-left {
                    p {
                        width: 90%;
                    }
                }
                .ecommerce-right {
                    .img-wrapper {
                        img {
                            height: em(350);
                        }
                    }
                }
            }
        }

        .study-marketing {
            .marketing-left {
                img {
                    height: em(250);
                }
            }
            .marketing-right {
                p {
                    width: 90%;
                }
            }
        }
    }
}


@media only screen and (max-width: 1280px) {
    .hero {
        nav {
            height: em(60);
            .navbar-menu {
                width: 50%;
                li {
                    a {
                        font-size: em(12,16);
                    }
                }
            }
        }

        .hero-items {
            .hero-headline {
                h1 {
                    font-size: em(60);
                }
            }
        }
    }

    .section-about {
        i {
            font-size: em(35);
            margin-bottom: em(20,35);
        }
        h2 {
            font-size: em(30);
        }
        height: em(750);
        padding-bottom: 0;
        .about-container {
            .middle {
                width: 43%;
            }
            .left, .right {
                width: 28%;
                .box-wrapper {
                    height: 90%;
                    width: 100%;
                    font-size: em(13,16);
                    p {
                        line-height: 1.1;
                    }
                    i {
                        font-size: em(25);
                    }
                    h3 {
                        font-size: em(20);
                    }
                }
            }
        }
    }

    .section-study {
        padding-top: 0;
        i {
            font-size: em(35);
            margin-bottom: em(20,35);
        }
        h2 {
            font-size: em(30);
        }
        .study-container {
            .study-left {
                transform: scale(.9);
            }

            .study-right {
                p, li {
                    font-size: em(14,16)
                }
                h3 {
                    font-size: em(19,16);
                }
               
            }
        }
    }

    .section-courses {
        min-height: em(650);
        max-height: em(650);
        h2 {
            font-size: em(30);
        }
        .courses-container {
            min-height: em(650);
            max-height: em(650);
            .carousel{    
                min-height: em(900);
                .carousel-item {
                    width: 25%;
                    .course-info {
                        h3 {
                            font-size: em(25);
                        }
                        .logos {
                            img {
                                width: em(30);
                                height: em(30);
                            }
                        }

                        .visit-btn {
                            width: 40%;
                            font-size: em(16);
                        }
                    }
                }
            }
        }
    }

    .section-study2 {
        .h2-icon {
            transform: scale(.8);
            margin: em(20) auto em(10);
        }

        h2 {
            font-size: em(30);
            margin-bottom: em(80,30);
        }

        h3 {
            font-size: em(19);
        }

        p {
            font-size: em(16,16);
        }

        .study-ecommerce {
            .ecommerce-left {
                width: 45%;
            }
        }

        .study-marketing {
            .marketing-right {
                width: 45%;
            }
        }
    }

    section.my-codes {
        i {
            font-size: em(35);
            margin-bottom: em(20,35);
        }
        h2 {
            font-size: em(30);
        }
        padding-bottom: em(25);
        @keyframes show-frame {
            to {
                height: em(500); opacity: 1;
            }
        }
        .codes-container {
            .code-frame {
                width: 85%;
                font-size: em(14,16);
                @include show-frame;
            }
        }
    }

    section.contacts {
        .contacts-container {
            i {
                font-size: em(35);
                margin-bottom: em(20,35);
            }
            h2 {
                font-size: em(30);
            }

            .container {
                .planet {
                    width: em(150);
                    .logo-wrapper {
                        width: em(100);
                        height: em(100);
                    }

                    a.contact-btn, p.contact-btn {
                        width: em(100,14)
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 1024px) {
    .hero {
        nav {
            .navbar-menu {
                width: 65%;
                gap: 2%;
                li {
                    width: 23%;
                }
            }
            
        } 
        
        min-height: em(500);
        max-height: em(700);
        .hero-items {
            .hero-headline {
                h1 {
                    font-size: em(45);
                }
                h2 {
                    font-size: em(35);
                }
                p {
                    font-size: em(25);
                }
            }
        }
    }

    .section-about {
        padding-top: em(50);
        padding-bottom: em(75);
        height: auto;
        .about-container {
            .separate {
                position: static;
                top: auto;
                left: auto;
                transform: translate(0,0);
                margin: 0 auto;
            }
        }
        i {
            font-size: em(30);
            margin-bottom: em(20,30);
        }
        h2 {
            font-size: em(25);
            margin-bottom: em(20,25);
        }
        .about-container {
            flex-direction: column;
            .middle {
                .img-wrapper {
                    width: 60%;
                }
            }

            .left, .right, .middle {
                margin-bottom: em(30);
                width: 65%;
                .box-wrapper {
                    height: 100%;
                    p {
                        margin-bottom: em(10);
                    }
                }
            }
        }
    }

    .section-study {
        i {
            font-size: em(30);
            margin-bottom: em(20,30);
        }
        h2 {
            font-size: em(25);
        }
        .study-container {
            flex-direction: column;
            .study-left, .study-right {
                width: 70%;
                margin: 0 auto;
            }
        }
    }

    .section-courses {
        min-height: em(550);
        max-height: em(550);
        h2 {
            font-size: em(25);
        }
        .courses-container {
            min-height: em(550);
            max-height: em(550);
            .carousel {
                min-height: em(700);
                transform: translateY(em(-200));
                .carousel-item {
                    width: 35%;
                }
                
            }
        }

    }

    .section-study2 {
        .h2-icon {
            display: block;
            transform: scale(.8);
            margin: em(20) auto em(10);
        }
        h2 {
            font-size: em(25);
        }
        h3 {
            font-size: em(16);
        }

        p {
            font-size: em(14,16);
        }

        .study-container {
            .study-ecommerce {
                .ecommerce-right {
                    .img-wrapper {
                        img {
                            height: em(300);
                            position: static;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .study-marketing {
                .marketing-left {
                    img {
                        height: em(200);
                    }
                }
            }
        }
    }

    section.my-codes {
        i {
            font-size: em(30);
            margin-bottom: em(20,30);
        }
        h2 {
            font-size: em(25);
            margin-bottom: em(10);
        }
        .codes-container {
            .code-frame {
                width: 90%;
                font-size: em(13,16);
            }
        }
    }

    section.contacts {
        .contacts-container {
            i {
                font-size: em(30);
                margin-bottom: em(20,30);
            }
            h2 {
                font-size: em(25);
            }
        }
        
    }
}

@media only screen and (max-width: 900px) {
    section.my-codes {
        .codes-container {
            .code-frame {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    section.my-codes {
        .codes-container {
            .code-frame {
                width: 100%;
                font-size: em(12,16);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        nav {
            .navbar-menu {
                margin: 0;
                width: 100%;
                justify-content: center;
                gap: 2%;
                li {
                    width: 20%;
                }
            }
            
        } 
        min-height: em(380);
        max-height: em(500);
        .hero-items {
            .hero-headline {
                h1 {
                    font-size: em(35);
                }
                h2 {
                    font-size: em(28);
                }
                p {
                    font-size: em(19);
                }
            }
        }
    }

    .section-about {
        padding-bottom: em(75);
        i {
            font-size: em(25);
            margin-bottom: em(20,25);
        }
        h2 {
            font-size: em(20);
            margin-bottom: em(20,20);
        }
        .about-container {
            .middle {
                .img-wrapper {
                    width: 70%;
                }
            }
        }
    }

    .section-study {
        i {
            font-size: em(25);
            margin-bottom: em(20,25);
        }
        h2 {
            font-size: em(20);
        }
        .study-container {
            flex-direction: column;
            .study-left, .study-right {
                width: 70%;
            }
            .study-left {
                transform: scale(.7)
            }
        }
    }

    .section-courses {
        min-height: em(400);
        max-height: em(400);
        h2 {
            font-size: em(20);
        }
        .courses-container {
            min-height: em(400);
            max-height: em(400);
            .carousel {
                min-height: em(600);
                transform: translateY(em(-150));
                .carousel-item {
                    width: 35%;
                    .course-info {
                        h3 {
                            font-size: em(18);
                        }
                        .logos {
                            img {
                                width: em(20);
                                height: em(20);
                            }
                        }
                    }
                }
                
            }
        }

    }

    .section-study2 {
        .h2-icon {
            transform: scale(.7);
        }
        h2 {
            font-size: em(20);
        }
        h3 {
            font-size: em(15);
        }

        p {
            font-size: em(13,16);
        }

        .study-container {
            .study-ecommerce {
                max-height: auto;
                flex-direction: column;
                .ecommerce-left, .ecommerce-right {
                    width: 80%;
                }
                .ecommerce-right {
                    width: max-content;
                    margin: em(20) auto 0;
                    .img-wrapper {
                        img {
                            height: em(250);
                        }
                    }
                }
            }

            .study-marketing {
                max-height: auto;
                flex-direction: column-reverse;
                .marketing-left, .marketing-right {
                    width: 80%
                }
                .marketing-left {
                    width: max-content;
                    margin: em(20) auto 0;
                    img {
                        height: em(170);
                    }
                }
            }
        }
    }

    section.my-codes {
        i {
            font-size: em(25);
            margin-bottom: em(20,25);
        }
        h2 {
            font-size: em(20);
        }
        .codes-container {
            width: 98%;
            .code-frame {
                width: 100%;
                font-size: em(11,16);
                letter-spacing: 0px;
            }
        }
    }

    section.contacts {
        .contacts-container {
            i {
                font-size: em(25);
                margin-bottom: em(20,25);
            }
            h2 {
                font-size: em(20);
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .hero {
        background-position: 60% 0;
        nav {
            max-width: 100%;
            position: absolute;
            .navbar-menu {
                li {
                    width: 23%;
                    font-size: em(14);
                }
            }
            
        } 
        min-height: em(250);
        max-height: em(450);
        .hero-items {
            .hero-headline {
                h1 {
                    font-size: em(35);
                }
                h2 {
                    font-size: em(25);
                }
                p {
                    font-size: em(20);
                }
            }
        }
    }

    .section-about {
        .about-container {
            .left, .right {
                font-size: em(15,16);
                width: 90%;
            }

            .middle {
                width: 100%;
            }
        }
    }

    .section-study {
        .study-container {
            .study-left, .study-right {
                width: 85%;
                font-size: em(15,16);
            }

            .study-left {
                .outline {
                    right: em(25);
                }
            }

            .study-right {
                font-size: em(14);
            }
        }
    }

    .section-courses {
        min-height: em(400);
        max-height: em(400);
        h2 {
            font-size: em(20);
        }
        .courses-container {
            width: 98%;
            .carousel {
                .carousel-item {
                    width: 37%;
                    .course-info {
                        h3 {
                            font-size: em(14,16);
                        }
                        .visit-btn {
                            font-size: em(12);
                        }
                    }
                }
                
            }
        }
    }

    .section-study2 {
        .h2-icon {
            transform: scale(.7);
        }
        h2 {
            font-size: em(20);
        }
        h3 {
            font-size: em(15);
        }

        p {
            font-size: em(13,16);
        }

        .study-container {
            .study-ecommerce {
                .ecommerce-left, .ecommerce-right {
                    width: 90%;
                    font-size: em(15,16);
                }
                .ecommerce-right {
                    .img-wrapper {
                        img {
                            position: static;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .study-marketing {
                .marketing-left, .marketing-right {
                    width: 90%;
                    font-size: em(15,16);
                }

                .marketing-left {
                    margin: 0 auto;
                    width: max-content;
                }
            }
        }
    }

    section.my-codes {
        .codes-container {
            width: 98%;
            
            .code-frame {
                padding: em(3,4);
                width: 100%;
                min-height: 30vh;
                letter-spacing: 0px;
                p.line {
                    font-size: 8px;
                }
            }

        }
    }

    section.contacts {
        .contacts-container {
            .container {
                .planet {
                    width: em(100);
                    .logo-wrapper {
                        width: em(70);
                        height: em(70);
                    }

                    a.contact-btn, p.contact-btn {
                        font-size: em(11,16);
                        width: max-content;
                    }

                    a.email {
                        position: relative;
                        left: em(-25);
                        width: max-content;
                        font-size: em(12,16);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .hero {
        nav {
            .navbar-menu {
                li {
                    font-size: em(10,16);
                }
            }
        }
    }
    .section-study {
        h2 {
            margin-bottom: 0;
        }
        .study-container {
            gap: 0;
            .study-left {
                transform: scale(0.55);
                .outline {
                    right: em(55);
                }
            }
        }
    }

    section.contacts {
        .contacts-container {
            small {
                font-size: em(8,16);
            }
        }
    }
}