* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* ================= ANIMATIONS */
@keyframes slide-down {
    from {top: 0px;
    color: #fff;
    font-weight: normal;}
    to {top: 7px;
    color: #FFAF00;
    font-weight: bold;}
}


/*1.HERO SECTION ===================================================================*/
.hero {
    background: linear-gradient(to right bottom, #000000 30%, #434343)
}


/*1.NAVBAR*/
.hero nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 30%;
    margin-left: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    gap: 5em;
    list-style-type: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    position: relative;
    animation-name: slide-down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/*1. HERO-ITEMS*/
.hero-items {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero-img {
    width: 300px;
    height: 300px;
    transition: width 1s ease-in-out;
}

.hero-img:hover {
    width: 400px;
}

.hero-img-photo {
    width: 100%;
    border-radius: 50%;
    /* border: 2px solid #0f0c29; */
    border: 2px solid #000;
    /* box-shadow: 4px 4px 2px #0f0c29; */
    box-shadow: 4px 4px 10px #000;
}

.hero-headline {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-headline-title {
    font-size: 70px;
    /* text-shadow: 4px 4px 2px #0f0c29; */
    text-shadow: 4px 4px 2px #000;
    margin-bottom: 0;
}

.hero-headline-subtitle {
    margin-bottom: 0;
    text-shadow: 4px 4px 2px #000;
}


/*2. SECTION - ABOUT ====================================================*/
.section-about {
    width: 100%;
    height: 500px;
    background: linear-gradient(to left bottom, #434343 30%, #000000);
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
}


/*2. ABOUT-ITEMS*/
.about-headline {
    margin-top: 0;
    padding-top: 80px;
    font-size: 50px;
    text-shadow: 3px 3px 2px #000;
}

.about-items {
    margin: 0 auto;
    width: 80%;
    display: flex;
}


.about-items-text {
    margin: 0 auto;
    width: 65%;
}

/*2. ABOUT-STUDY*/
.about-study-list {
    list-style-type: none;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.about-study-list li {
    width: 8em;
}

.about-study-list li:hover {
    transform: rotateY(360deg);
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.html-icon {
    color: #DC4A24;
}

.css-icon {
    color: #146EB0
}

.js-icon {
    color: #FFAF00;
}